<nav class="navbar container">

    <!-- Logo -->
    <div class="logo">
        <a href="#home">LM</a>
    </div>

    <!-- Menu -->
    <ul class="nav-links">

        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#certificates">Certificates</a></li>
        <li><a href="#contact">Contact</a></li>

    </ul>

    <!-- Theme Toggle -->
    <div class="nav-actions">

        <button id="theme-toggle">
            🌙
        </button>

    </div>

</nav>